
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>File reading</h2>
<br />
@Html.ActionLink("Read Xml File", "ReadXmlFile", "FileReader")<br />
@Html.ActionLink("Read Json File", "ReadJsonFile", "FileReader")<br />
@Html.ActionLink("Read Text File", "ReadTextFile", "FileReader")



