
@{
    ViewBag.Title = "ReadXmlFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReadXmlFile</h2>

@if (ViewBag.logFileContent != null)
{
    foreach (string dataLine in ViewBag.logFileContent)
    {
        @dataLine
        <br />
    }
}

<br />
<input class="btn btn-primary btn-sm btn-dark" action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" />