
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Flight Manager</h2>
<br />
<form>
    <div class="form-group row">
        <label for="txtFlightname" class="col-sm-2 col-form-label" >Flight Name</label>
        <div class="col-sm-10">
            <input type="text" id="txtFlightname" class="form-control form-control-sm"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="txtDepartureAirport" class="col-sm-2 col-form-label">Departure Airport</label>
        <div class="col-sm-10">
            <input list="airports" id="txtDepartureAirport" class="form-control form-control-sm"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="txtArrivalAirport" class="col-sm-2 col-form-label">Arrival Airport</label>
        <div class="col-sm-10">
            <input list="airports" id="txtArrivalAirport" class="form-control form-control-sm"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 align-content-end">
            <button type="button" onclick="ValidateAndSaveData()" class="btn btn-primary btn-sm btn-dark float-right col-sm-4" style="margin-right:70px" >Save</button>
        </div>
    </div>
    <datalist id="airports"></datalist>
</form>
<div class="container">
        <table data-toggle="table" class="table table-hover"  id="tblReports">
            <thead>
                <tr>
                    <th>#</th>
                    <th data-field="FlightName">Flight</th>
                    <th data-field="DepartureAirport">From</th>
                    <th data-field="ArrivalAirport">To</th>
                    <th data-field="Distance">Distance (Km)</th>
                    <th data-field="EstimatedFuelConsumption">Estimated Fuel Consumption(Lbs)</th>
                    <th data-field="FlightTime">Estimated Flight Time(Hours)</th>
                </tr>
            </thead>
            </table>
</div>





    @section scripts
{
        <script type="text/javascript">
            var dataList = document.getElementById('airports');
            var airportsList;

            $(document).ready(function () {

               

                $.getJSON('/airports', function (data) {

                    airportsList = data;
                    var list = $('#airports')

                    $(airportsList).each(function (index, object) {

                        $.each(object, function (key, value) {

                            var option = document.createElement('option');

                            if (key === 'Name') {
                                option.text = value;
                            }
                            dataList.appendChild(option);
                        });
                    });

                });
                $.getJSON('/flightReports', function (data) {
                    $('#tblReports').bootstrapTable('load', data);
                });
            });

            function ValidateAndSaveData() {
                var flightName = document.getElementById('txtFlightname').value;
                var departureAirport = document.getElementById('txtDepartureAirport').value;
                var arrivalAirport = document.getElementById('txtArrivalAirport').value;
                if (flightName == "") {
                    alert("No flight name");
                    return;
                }
                if (departureAirport == "") {
                    alert("No departure airport");
                    return;
                }
                if (arrivalAirport == "") {
                    alert("No arrival airport");
                    return;
                }

                var JSONObject = {
                    "Name": flightName,
                    "DepartureAirport": getIataByAirportName(departureAirport, airportsList),
                    "ArraivalAirport": getIataByAirportName(arrivalAirport, airportsList),
                };
                var jsonData = JSON.stringify(JSONObject);
                var request = $.ajax({
                    url: "/flights",
                    type: "POST",
                    data: jsonData,
                    contentType: "application/json",
                    success: function (data) {
                        updateData();
                    },
                    error: function () {
                        alert("error");
                    },
                });

                
            }

            function getIataByAirportName(airportName, data) {
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Name == airportName) {
                        return data[i].Iata;
                    }
                }
                return -1;
            }

            function updateData() {
                $.getJSON('/flightReports', function (data) {
                    $('#tblReports').bootstrapTable("removeAll");
                    $('#tblReports').bootstrapTable('append', data);
                });
            }
        </script>
    }

