
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />
@Html.ActionLink("Flight Manager", "Index", "Flight")<br />
@Html.ActionLink("Web Api", "", "Swagger")<br />
@Html.ActionLink("File Reader", "Index", "FileReader")<br /><br />
@Html.ActionLink("Logout", "Logout", "Login")

